<!DOCTYPE html>
<html>
<head>
	<title>New Topping</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	<h1>New Hambuger Topping</h1>

	<form action="/hamburger" method="POST">
		<input type="text" name="name">Name</input><br>
		<input type="text" name="color">Color</input><br>
		<button type="submit">Submit</button><br>
	</form>

</body>
</html>