<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hamburger Item Show Page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <h1>Hamburger Show Page</h1>

    <div>
      <h2><%= hamburger.name %></h2>
      <h3><%= hamburger.amount%></h3>
      <h4><a href="/hamburger/<%=hamburger._id%>/edit">EDIT ITEM</a></h4>
    </div>




</body>
</html>